<div class="container">
  <div class="flex-satir" style="color:#673ab7;">
    <h2><strong >{{secSinav?.sinavAdi}}</strong></h2>
  </div>
  <div class="flex-satir">
  <div class="flex-sutun">
    <span style="margin-top: 15px;"><strong>Ders Adı : </strong> {{secDers.dersAdi}}</span>
    <span style="margin-top: 15px;"><strong>Ders Kodu : </strong> {{secDers.dersKodu}}</span>
    
  </div>
  <div class="flex-sutun">
    <span style="margin-top: 15px;"><strong>Ders Kredi : </strong> {{secDers.dersKredi}}</span>
    <span style="margin-top: 15px;"><strong>Kayıtlı Üye Sayısı : </strong> {{secDers.dersOgrSayisi}}</span>
  </div>
  <div class="flex-sutun">
    <span style="margin-top: 15px;"><strong>Sınav Süresi : </strong> {{secSinav?.sinavSuresi}} dk</span>
    <span style="margin-top: 15px;"><strong>Soru Sayısı : </strong> {{secSinav?.soruSayisi}} </span>

  </div>
</div>
  &nbsp;
  
</div>
<div class="container">

  <div class="example-action-buttons" style="display: flex; justify-content: flex-start; align-items: center;">
    <button mat-fab color="primary" matTooltip="Sınav Listesi" [routerLink]="['/sinav',secSinav?.sinavDersId]"
      style="margin-right: 1.5%;">
      <mat-icon aria-label="label">arrow_back</mat-icon>
    </button>
    <button mat-raised-button (click)="accordion.openAll()">Hepsini Aç</button>
    <button mat-raised-button (click)="accordion.closeAll()">Hepsini Kapat</button>
  </div>
  <div class="flex-satir" *ngIf="!secSinav?.soruSayisi"><span style="color: #f44336;"><strong>Uyrarı: </strong> Henüz Soru Eklenmedi!</span></div>
  <mat-accordion class="example-headers-align" multi #accordion="matAccordion">

    <mat-expansion-panel *ngFor="let soru of sorular" #panel="matExpansionPanel">
      <mat-expansion-panel-header>
        <mat-panel-title style="flex-grow: 3">
          {{sorular.indexOf(soru) + 1}}. Soru: {{soru.soruText}}
        </mat-panel-title>
        <mat-panel-description class="flex-satir-start">

          <div>

          </div>
          <div class="flex-satir">

            <span style="color: #f44336;" *ngIf="soru.bayrak"><strong>Uyarı :</strong> Seçenekleri
              Kaydetmediniz!!!</span>
            <span style="color: #f44336;" *ngIf="soru.dogruSec?.cevap!=1"><strong>Uyarı :</strong> Doğru Seçeneği
              belirleyiniz!</span>
            <h3 style="color: primary;">İŞLEMLER</h3>
          </div>

        </mat-panel-description>
      </mat-expansion-panel-header>
      <div class="flex-satir-1-1">
        <mat-radio-group aria-labelledby="example-radio-group-label" class="example-radio-group"
          [(ngModel)]="soru.dogruSec">
          <mat-radio-button [disabled]="!soru.bayrak" class="example-radio-button" *ngFor="let sec of soru.secenekler"
            [value]="sec" [checked]="sec.cevap===1">

            <button mat-icon-button matTooltip="Seçeneği Düzenle" matTooltipPosition="left" color="primary"
              (click)="SecenekDuzenle(sec)">
              <mat-icon aria-label="label">drive_file_rename_outline</mat-icon>

            </button>
            <button mat-icon-button matTooltip="Seçeneği Sil" matTooltipPosition="right" color="warn"
              (click)="SecenekSil(sec)">
              <mat-icon aria-label="label">clear</mat-icon>

            </button>


            <span>{{sec.secenekText}}</span>

          </mat-radio-button>
          <button mat-icon-button matTooltip="Seçenek Ekle" color="primary" (click)="SecenekEkle(soru)">
            <mat-icon aria-label="label">add</mat-icon>
          </button>
          <div *ngFor="let sec of soru.secenekler">
            <div *ngIf="sec.cevap==1"> <strong>Doğru Cevap: </strong>{{sec.secenekText}} </div>
          </div>

        </mat-radio-group>

        <div class="flex-sutun asagiya-it">
          <button mat-fab matTooltip="Doğru Seçeneği Değiştir" matTooltipPosition="left" [disabled]="soru.bayrak"
            color="accent" (click)="BayrakTrue(soru);SecenekleriSifirla(soru)">
            <mat-icon aria-label="label">published_with_changes</mat-icon>
          </button>
          <button mat-fab matTooltip="Seçenekleri Kaydet" matTooltipPosition="left" [disabled]="!soru.bayrak"
            [style]="soru.bayrak ? 'background: #41b900;color: white;':''"
            (click)="SecenekleriKaydet(soru); BayrakFalse(soru);">
            <mat-icon aria-label="label">save</mat-icon>
          </button>
          <button mat-fab matTooltip="Soruyu Düzenle" matTooltipPosition="left" color="primary"
            (click)="SoruDuzenle(soru)">
            <mat-icon aria-label="label">edit</mat-icon>
          </button>
          <button mat-fab matTooltip="Soruyu Sil" matTooltipPosition="left" color="warn" (click)="SoruSil(soru)">
            <mat-icon aria-label="label">delete</mat-icon>
          </button>
        </div>
      </div>
    </mat-expansion-panel>

  </mat-accordion>
  <div class="flex-satir" style="margin-top: 3%;">
    <button mat-fab matTooltip="Soru Ekle" color="primary" (click)="SoruEkle()">
      <mat-icon aria-label="label">add</mat-icon>
    </button>
  </div>

</div>
<div class="container" style="margin-top: 10%;"></div>